<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MiConexion" connectionString="Server=DESKTOP-M28U2HU;Database=SistemaElectoral;Trusted_Connection=True;" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="2880" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>
	<location path="RegistrarUsuario.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>
